In [3]:
from geopy.geocoders import Nominatim

import pandas as pd
import numpy as np
import time

In [5]:
# Test run geopy:

geolocator = Nominatim(user_agent="march-madness-analytics-2020")
location = geolocator.geocode("175 5th Avenue NYC")
print(location.address)

175, 5th Avenue, Flatiron District, New York, Manhattan, New York County, New York, 10010, United States of America

In [6]:
# Load in the Cities.csv from Google Cloud & NCAAÂ® March Madness Analytics Competition:

Cities = pd.read_csv('Cities.csv')
Cities['Latitude'] = np.NaN # new empty column
Cities['Longitude'] = np.NaN # new empty column
Cities.head()

   CityID         City State  Latitude  Longitude
0    4001      Abilene    TX       NaN        NaN
1    4002        Akron    OH       NaN        NaN
2    4003       Albany    NY       NaN        NaN
3    4004  Albuquerque    NM       NaN        NaN
4    4005    Allentown    PA       NaN        NaN

In [7]:
%%time

filename = 'geo_Cities.csv'

# Fill in the Latitude and Longitude column for each city:

for index, row in Cities.iterrows():
    
    try:
        location_point = geolocator.geocode(Cities.at[index, 'City'] 
                                            + ', ' + Cities.at[index, 'State']) # Abilene, TX
        Cities.at[index, 'Latitude'] = location_point.latitude
        Cities.at[index, 'Longitude'] = location_point.longitude
        
        Cities.to_csv(filename, index=False) # in case of interruption we will have the progress saved

    except:
        pass # skip the row in case of some error
        
    time.sleep(1) # pause to avoid GeocoderTimedOut: Service timed out
    
Cities.sample()

Wall time: 8min 54s

     CityID        City State   Latitude  Longitude
361    4363  Washington    DC  38.894985 -77.036571

In [8]:
Cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CityID     453 non-null    int64
 1   City       453 non-null    object
 2   State      453 non-null    object
 3   Latitude   451 non-null    float64
 4   Longitude  451 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 17.8+ KB